.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  /*position: absolute;*/
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.center {
  margin: 0;
	height: 80vh;
	align-items: center;
	justify-content: center;
	text-align: center;
  display: flex;
  flex-direction: column;
}

.checkbox:hover {
  color: #3ca4ff;
}

a.loginLink:link, a.loginLink:visited, a.loginLink:active {
  color: white;
  text-decoration: none;
}

a.loginLink:hover {
  color: pink;
}

